*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Gurmukhi:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+HR+Lijeva:wght@100..400&family=Qwitcher+Grypen:wght@400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
#log{
    font-family: "Hind Mysuru", serif;
    margin-top: 150px;
}
.lab{
    height: 10px;
}
#frm{
    font-family: "Merriweather", serif;
    font-weight: 300;
    box-shadow: 1px 1px 10px 1px;
    border-radius: 10px;
}