*{
  margin: 0px;
  padding: 0px;
}
.cards{
  display: flex;
}
.card{
  margin: 30px;
  background-color: brown;
  color: antiquewhite;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  border: 1px solid black;
  height: 100px;
  width:160px;
}